* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "overpass";
    src: url("../public/fonts/Overpass-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "overpass";
    src: url("../public/fonts/Overpass-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "ubuntu";
    src: url("../public/fonts/Ubuntu-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "ubuntu";
    src: url("../public/fonts/Ubuntu-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "ubuntu";
    src: url("../public/fonts/Ubuntu-Regular.ttf");
    font-weight: 400;
}

:root {
    /*Primary*/

    --Lightred/*(CTA text)*/: hsl(356, 100%, 66%);
    --Verylightred/*(CTA hover background)*/: hsl(355, 100%, 74%);
    --Verydarkblue/*(headings)*/: hsl(208, 49%, 24%);

    /*Neutral*/

    --White/*(text)*/: hsl(0, 0%, 100%);
    --Grayishblue/*(footer text)*/: hsl(240, 2%, 79%);
    --Verydarkgrayishblue/*(body copy)*/: hsl(207, 13%, 34%);
    --Verydarkblackblue/*(footer background)*/: hsl(240, 10%, 16%);

    /* Gradient*/

    /*Background gradient - Intro/CTA mobile nav:*/

    --Verylightred: hsl(13, 100%, 72%);
    --Lightred: hsl(353, 100%, 62%);

    /*Background gradient - body:*/

    --Verydarkgrayblue: hsl(237, 17%, 21%);
    --Verydarkdesaturatedblue: hsl(237, 23%, 32%);
}
html {
    font-size: 16px;
}

body {
    color: var(--Verydarkgrayishblue);
    background-color: hsl(240, 7%, 97%);
}
